exportPattern('^[[:alpha:]]+')

import('vcfR');
importFrom(
    'data.table',
    'tstrsplit'
    );
import('reshape2');
import('BoutrosLab.plotting.general');
import('pROC');
importFrom('grDevices', 'colorRampPalette');
importFrom(
    'stats',
    'aggregate',
    'as.formula',
    'binomial',
    'glm',
    'lm',
    'na.omit',
    'predict'
    );
importFrom('utils', 'read.table', 'write.table');
