import('vcfR');
importFrom(
    'data.table',
    'tstrsplit',
    'setDT'
    );
import('reshape2');
import('BoutrosLab.plotting.general');
importFrom(
    'lattice',
    'draw.key'
    );
import('pROC');

importFrom(
    'grDevices',
    'colorRampPalette',
    'col2rgb'
    );
importFrom(
    'stats',
    'aggregate',
    'as.formula',
    'binomial',
    'glm',
    'lm',
    'na.omit',
    'predict',
    'quantile'
    );
importFrom(
    'utils',
    'read.table',
    'write.table'
    );

export(
    apply.polygenic.score,
    combine.pgs.bed,
    combine.vcf.with.pgs,
    convert.alleles.to.pgs.dosage,
    convert.allele.frequency.to.dosage,
    convert.pgs.to.bed,
    flip.DNA.allele,
    format.chromosome.notation,
    get.pgs.percentiles,
    import.pgs.weight.file,
    import.vcf,
    parse.pgs.input.header,
    create.pgs.density.plot,
    create.pgs.rank.plot,
    create.pgs.with.continuous.phenotype.plot,
    run.pgs.regression
    );
